/*
 * Theme Name: VVerner
 * Description: Este tema foi desenvolvido pela empresa VVerner e contém todas as funcionalidades e personalizações para atender os requisitos do cliente.
 * Author: VVerner
 * Author URI: https://vverner.com
 * Template: flatsome
 * Version: 2.1.0 
 */


@media only screen and (max-width: 48em) {
   
}
